<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Amber Caracteristicas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css"> 
</head>
<body>
    <header>
        <a class="Volver" href="TiposdeCerveza.html">Volver</a>
        <h1 id="TitCerv">Todo sobre la cerveza Amber</h1>
    </header>
    <ul class="propiedades">
        <li> <h2 id="TitProp">Sabor</h2> <p id="descripcion"> El lúpulo da a la cerveza ese sabor límpido y amargo, sin el que malamente puede llamarse cerveza </p> </li>
        <li><h2 id="TitProp">Aroma</h2> <p id="descripcion"> Las notas predominantes de una cerveza suelen ser herbales, frutales o florales si el lúpulo es el protagonista,
            pero hay muchos más matices. El dorado líquido puede oler a mantequilla si las maltas predominan sobre los lúpulos. Si huele a metal o a papel es porque la cerveza se ha oxidado. </p> </li>
        <li><h2 id="TitProp">Textura</h2> <p id="descripcion">La sensación en la boca, o la textura de la cerveza es una representación de cómo se siente realmente en la boca. 
            Las cervezas pueden variar mucho, espumosa y con cuerpo, que esté suave y cremosa.</p> </li>
    </ul>

</body>
</html>