<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8" />
      <title>Amber</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

      <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css"> 
      <!--Link de Bootstrap-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  </head>
  <body id="fondo">
      <header>
        
          <a class="VolverShop" href="ShopBeer.html"> Volver al SHOPBEER!</a>
          
          <div class="TituloCerveza">
              <h1 id="titulo">CARRITO</h1>
          </div>

          
      </header>
      <div class="container-carrito">
          <div class="row-shop1">
            <div class="col1">
              Producto
            </div>
            <div class="col2">
              Precio
            </div>
            <div class="col3">
              Cantidad
            </div>
          </div>
        </div>
        <script src="../assets/js/Compras.js"></script>
  </body>
</html>