<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Stout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css"> 
</head>
<body>
    <header>
        <a class="VolverShop" href="ShopBeer.html"> Volver al SHOPBEER!</a>
        
        <div class="TituloCerveza">
            <h1 id="titulo">Cerveza Stout</h1>
        </div>
    </header>

    <div class="ListaCerveza">
        <ul>
            <li>Precio</li>
            <li>Cuenta con:</li>
            <ol>
                <br>
                <li>Envio a domicilio</li>
                <br>
                <li>Retiro en local</li>
            </ol>
        </ul>
    </div>
    <p id="fondocompra"> <a id="formcompra" href="#">Añadir al Carrito</a></p>
    
    <script src="../js/Compras.js"></script>
</body>
</html>