<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <!--Titulo-->

    <title>Tipos de cerveza</title>

    
    <!--Viewport-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    
    <!--Link de CSS-->

    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css">


    <!--Link de Bootstrap-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    
    <!--Keywords-->

    <meta name="keywords" content="cerveceria, elirlandes, cervezas, venta de cerveza, tiposcerveza">

    
    <!--Descripcion-->
    
    <meta name="description" content="Todas las cervezas que ofrecemos. Las encontras aca.">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a062562745.js" crossorigin="anonymous"></script>

</head>

<!------------------------------------------------------------------------->
<body id="fondo">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src=app.js></script>
    
<header> 
      <div class="container-fluid">
           <nav class="navbar navbar-expand-lg">
             <a class="navbar-brand" href="../index.html">INICIO</a>
             <button class="navbar-toggler-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div id="nav-icon3"> 
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
              </div>
             </button>
           
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link" href="./Fabricacion.html">FABRICACION<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="./ShopBeer.html">SHOPBEER</a>
                 </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="./TiposdeCerveza.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     TIPOS DE CERVEZA
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./IPA1.html">IPA</a>
                    <a class="dropdown-item" href="./ALE1.html">ALE</a>
                    <a class="dropdown-item" href="./Porter1.html">Porter</a>
                    <a class="dropdown-item" href="./PaleAle1.html">Pale Ale</a>
                    <a class="dropdown-item" href="./Amber1.html">Amber</a>
                    <a class="dropdown-item" href="./Bock1.html">Bock</a>
                    <a class="dropdown-item" href="./Lager1.html">Lager</a>
                    <a class="dropdown-item" href="./Pilsen1.html">Pilsen</a>
                    <a class="dropdown-item" href="./Stout1.html">Stout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Mas cervezas pronto!</a>
                   </div>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
                 </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Escribe aqui" aria-label="Search" >
                 <button class="btn" type="submit">Buscar! <img src="../assets/icons/cart2.svg" alt="" width="20" height="25" title="Bootstrap"> </button>
               </form> 
           </nav>
     </div>
  
     <div class="TituloTipos-de-cerveza">
        <h1>Tipos de Cervezas</h1>    
     </div>
     
</header>
 
<!------------------------------------------------------------------------->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap" rel="stylesheet">  
<!------------------------------------------------------------------------->  
    
    <p id="Conocelas"> Conoce nuestras cervezas! </p>
    <div class="container">
        <div class="list-group">
          <a href="./Amber1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Amber  </a>
          <a href="./Lager1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Lager</a>
          <a href="./IPA1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza IPA</a>
          <a href="./Porter1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Porter</a>
          <a href="./ALE1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Ale</a>
          <a href="./PaleAle1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Pale Ale</a>
          <a href="./Bock1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Bock</a>
          <a href="./Pilsen1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Pilsen</a>
          <a href="./Stout1.html" class="list-group-item list-group-item-action">Conoce nuestra cerveza Stout</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Mas Proximamente!</a>
        </div>

    </div>

    <!------------------------------------------------------------------------->
    <script src=assets/js/app.js></script>
    <!------------------------------------------------------------------------->  
    
    <div class="redes-container">
      <ul>
        <div id="siguenos"> <p>Siguenos!</p> </div>
        <li> <a href="#" class="facebook"> <i class="fab fa-facebook"></i> </a> </li>
        <li> <a href="#" class="instagram"> <i class="fab fa-instagram"></i> </a> </li>
        <li> <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a> </li>
        <li> <a href="#" class="youtube"> <i class="fab fa-youtube"></i> </a> </li>
      </ul>
    </div>

    <!------------------------------------------------------------------------->
    <!---------------------------pie de pagina--------------------------------->
    <div class="InfoPie">
      <footer>
          <h6>Ubicacion y Contacto: Av.hola Calle 23 San Jose. - 15123456 Todos los Derechos Reservados</h6>
      </footer>
    </div>
    
</body>

</html>